//IMPORT THE FONTS
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

// HTML BASIC COMPONNETS
$bgColor: #f5f6f7;
$white: #ffffff;

//LINK COLORS
$link-color-primary: #3e57d1;
$link-color-secondary: #3e57d1;
