// FOR HEADER
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;

  padding: 1.5rem 0;
}

.img__container {
  width: 25%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  &--img {
    height: 100%;
    width: 100%;
  }
}
